@font-face{
    font-family: "Raleway-Light";
    src: url("../fonts/Raleway-Light.ttf");
}

@font-face{
    font-family: "Raleway-Medium";
    src: url("../fonts/Raleway-Medium.ttf");
}

@font-face{
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face{
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway-Bold.ttf");
}

/*noch mal austesten: Brauche ich für jeden Schnitt ein @font-face, oder reicht die font-family und die Schnitte sind im font-Ordner?*/

/* !-------------------------------------generelles Styling */
html {
    font-size: 10px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Maße für body angeben ist optional*/
body{
    height: 100vh;
    width: 0 auto;
}

/*Ausprobieren: Was kann ich einkürzen? Buttons, h2, p (Farbe wechselt etc., an Var denken)*/

/*root mit Werten für Variablen einbauen, dann in den classes die Variablen zuordnen, Farben etc*/
:root{
    --btn-color-normal: #745CF9; 
    --btn-color-hover: #3A52BF;
    --nav-link-color: #666666;
    --nav-link-color-hover: #3A52BF;
    --nav-logo-color: #4C4C4C;
    --nav-logo-color-hover: #3A52BF;
    --headline-two-font-size: 2.5rem;
    --background-color: #fff;
}

/* !-------------------------------------Styling header: navigation bar */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
}

header nav{
    display: flex;
    gap: 0 2em;
}

.logo{
    font-family: "Raleway-Light";
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--nav-link-color);
}

.logo:hover{
    color: var(--nav-logo-color-hover);
    transition: 0.4s;
}

header a{
    font-family: "Raleway-Medium";
    font-size: 1.3rem; 
    text-decoration: none;
    color: var(--nav-link-color);
}

header a:hover{
    color: var(--nav-link-color-hover);
    transition: 0.4s;
}

/* !-------------------------------------Styling section1 */

.firstpage{
    background: url("../img/header-background-image.jpg") center/cover no-repeat fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.part1 h1{
    font-family: "Raleway-Light";
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 15px;
}

.part1 p{
    font-family: "Raleway-Light";
    color: #FFFFFF;
    font-size: 1.4rem;
    margin-bottom: 35px;
}

.readbtn{
    background-color: #745CF9;
    text-decoration: none;
    font-family: "Raleway-Regular";
    color: #FFFFFF;
    padding: 15px 50px;
    margin-right: 10px;
}

.readbtn:hover{
    background-color: #3A52BF;
    transition: 0.4s;
}

.downloadbtn{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    font-family: "Raleway-Regular";
    color: #FFFFFF;
    padding: 15px 33px;
    text-align: center;
}

.downloadbtn:hover{
    background-color: #3A52BF;
    transition: 0.4s;
}
/* !---ab SEO Friendly----------Styling Section2 */

.secondpage{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px;
    gap: 25em;
    height: 90vh;
}

.secondpage div{
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
}

.secondpage div h2{
    font-family: "Raleway-Regular";
    font-size: 3rem;
    color: #0E1015;
    margin-bottom: 15px;
}

.secondpage div p{
    font-family: "Raleway-Regular";
    font-size: 1.4rem;
    color: #8C979E;
    margin-bottom: 25px;
    width: 240px;
    line-height: 1.5em;
}

.readmorebtn{
    background-color: #745CF9;
    text-decoration: none;
    font-family: "Raleway-Regular";
    color: #FFFFFF;
    padding: 15px 50px;
    width: 160px;
}

/* !----------ab Portfolio----------------Styling Section3 */
.thirdpage{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 120px;
    gap: 25em;
}

.thirdpage div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}

.thirdpage h2{
    font-family: "Raleway-Regular";
    font-size: 3rem;
    color: #0E1015;
    margin-bottom: 15px;
}

.thirdpage p{
    font-family: "Raleway-Regular";
    font-size: 1.4rem;
    color: #8C979E;
    margin-bottom: 25px;
    width: 320px;
    line-height: 1.5em;
}

.actionbtn{
    background-color: #745CF9;
    text-decoration: none;
    font-family: "Raleway-Regular";
    color: #FFFFFF;
    padding: 15px 50px;
    width: 190px;
}

.actionbtn:hover{
    background-color: #3A52BF;
    transition: 0.4s;
}

/* !------Small Parallax--------------Styling Section4 */

.fourthpage{
    background: url("../img/img_section4_wave.jpg") center/cover no-repeat fixed;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
    
.fourthpage div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.fourthpage h2{
    font-family: "Raleway-Light";
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 15px;
}

.fourthpage p{
    font-family: "Raleway-Regular";
    font-size: 1.4rem;
    color: #ffffff;
    margin-bottom: 25px;
    width: 68em;
    line-height: 1.5em;
}

.infobtn{
    background-color: #745CF9;
    text-decoration: none;
    font-family: "Raleway-Regular";
    color: #FFFFFF;
    padding: 15px 50px;
    width: 160px;
}

.infobtn:hover{
    background-color: #3A52BF;
    transition: 0.4s;
}

/*----------section5-----Limitless Options-------------------*/
.forest{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

h2{
    font-family: "Raleway-Regular";
    font-size: 3rem;
    color: #0E1015;
    margin-bottom: 25px;
}

p{
    font-family: "Raleway-Regular";
    font-size: 1.4rem;
    color: #8C979E;
    margin-bottom: 25px;
    width: 60em;
    line-height: 1.5em;
}

.purpledownloadbtn{
    background-color: #745CF9;
    text-decoration: none;
    font-family: "Raleway-Regular";
    color: #FFFFFF;
    padding: 15px 50px;
    width: 160px;
    margin-bottom: 25px;
}
/* section6 Bildergalerie (mit Hilfe gestern). Was fehlt: Fotoreihen zentrieren, Abstand zwischen den 3 Reihen und bottom-------------------------------*/
.section6{
    background-color: black;
    text-align: center;
    padding: 5em;
}
.section6 h3{
    font-size: 2rem;
    font-weight: 300;
    margin: 1em 0;
    color: #FFFFFF ;
}

.section6 p{
    color: #FFFFFF;
}

/* setzt alle divs mit dieser class in jeweils 1 Reihe */
.galleryrow{
    display: flex;
}

/* limitiert die Größe des div-containers auf die angegebenen Werte*/
.galleryrow div{
    width: 300px;  
    height: 200px;
}

/* imgs decken die Fläche des obigen div zu 100% */
.galleryrow div img{  
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
}

/* section7 customers-----------------------*/
.customers{
    background: url("../img/img_section_7_sky.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

.customers h2{
    font-family: "Raleway-Regular";
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.customers p{
    font-family: "Raleway-Regular";
    font-size: 1.4rem;
    color: #ffffff;
    margin-bottom: 25px;
    width: 68em;
    line-height: 1.5em;
}

figcaption{
    font-family: "Raleway-Bold";
    font-size: 1.4rem;
    color: #ffffff;
    width: 68em;
    margin-top: 15px;
}
/* section8 clients -------------------------------*/
.clients{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.icons{
    margin-bottom: 60px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 50px;
}  

h2{
    font-family: "Raleway-Regular";
    font-size: 3rem;
    color: #0E1015;
    margin: 55px 0;
}
/* section9 do you like -----Hintergrund zu kurz unten--------------------------*/

.wordpress{
    background-color: #F5F5F5;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 5%;
}

.downloadbtn2{
    background-color: #745CF9;
    text-decoration: none;
    font-family: "Raleway-Regular";
    color: #FFFFFF;
    padding: 15px 50px;
    width: 160px;
}
/* section10 footer -------------------------------*/
footer section{
    background-color: black;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 5em;  
}  

footer section div{
    display: flex;
}    

span:hover{
    color: #4f3db6;
}








/*oben im generellen Styling gucken, ob alle p Zeilenabstand 1,5 wegen verschiebung schauen*/


/*Wiederholungen einkürzen und/oder in var bündeln*/